///* ========================================================================
//   #INPUTS
//   ======================================================================== */

$input-padding: rem(9.5px) rem(15px) !default;
$input-focus-color: $gunmetal-200 !default;

$input-border-color: $grey-400 !default;
$input-focus-border-color: $blue-100 !default;
$input-border-width: $base-border-width !default;
$input-border-radius: $base-border-radius !default;

$input-font-weight: $font-weight-normal !default;
$input-font-size: $text-font-size !default;

$input-placeholder-color: rgba($gunmetal-200, 0.5) !default;
$input-placeholder-font-weight: $font-weight-normal !default;

$input-background-color: $white !default;
$input-disabled-background-color: $grey-300 !default;
$input-disabled-border-color: $grey-400 !default;
$input-disabled-color: rgba($gunmetal-200, 0.5) !default;

$textarea-font-weight: $font-weight-normal !default;
$textarea-font-size: $text-font-size !default;

// Different states: success, error
$input-success-border-color: $color-success !default;
$input-success-color: $color-success !default;

$input-warning-border-color: $color-warning !default;
$input-warning-color: $color-warning !default;

$input-danger-border-color: $color-danger !default;
$input-danger-color: $color-danger !default;
