///* ========================================================================
//   #SCROLL BAR
//   ======================================================================== */

$scrollbar-width: 6px;
$scrollbar-background-color: #DFE3E9;

$scrollbar-thumb-border-radius: 6px;
$scrollbar-thumb-background-color: rgba(#000, 0.5);