.c-section-header.c-card {
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
  position: relative;
  line-height: 28px;

  &:after {
    content: '';
  }

  &.is-empty .c-section-header__label:after {
    content: '\00a0';
  }
}

.c-section-header__label {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
  overflow: hidden;

  &:before {
    @include long-content-fade( $color : $white );
  }

  .count {
    margin-left: 8px;
  }
}

.c-section-header__actions {
  flex-grow: 0;
  position: relative;

  @include clear-fix;
}

.c-section-header__label {
  color: $gray-dark;
  font-size: 14px;
}

.c-section-header__actions {
  .c-button {
    float: left;
    margin-right: 8px;
  }

  & > .c-button:last-child {
    margin-right: 0;
  }
}
