.c-form-legend {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  &__subtitle {
    font-size: 11px;
    color: #537994;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 16px;
  }
}

li .c-form-legend {
  margin-top: 4px;
}
