//* ==========================================================================
//   #CLEARFIX
// ========================================================================== */

//
// Clearfix
// Clear floating elements
//

//@mixin clearfix {
//	&::after {
//		display: table !important;
//		clear: both !important;
//		content: "" !important;
//	}
//}

// ==========================================================================
// Clear fix mixin (clearfix)
// ==========================================================================

@mixin clear-fix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
  }
}
