/* recommended css code for vue-svgicon */
.svg-icon {
  display: inline-block;
  //width: 16px;
  //height: 16px;
  width: 24px;
  height: 24px;
  color: inherit;
  //vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /*default*/
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}

.svg-icon path[pid="0"] {
  fill: none;
}

.svg-icon path[pid="1"] {
  //fill: #848f99;
}

//.gridicon path[pid="1"]{
//  fill: #848f99;
//}
//.gridicons-checkmark-circle {
//   path[pid="1"] {
//    fill: $primary;
//  }
//}


.gridicon {
  fill: currentColor;

  &.needs-offset g {
    transform: translate( 1px, 1px );	/* translates to .5px because it's in a child element */
  }

  &.needs-offset-x g {
    transform: translate( 1px, 0 );		/* only nudges horizontally */
  }

  &.needs-offset-y g {
    transform: translate( 0, 1px );		/* only nudges vertically */
  }
}
